body {
	background-image: url('../images/sayagata-400px.png');
	margin: 0px;
	padding: 0px;
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue',Helvetica, sans serif;
}

header	{
	overflow: hidden;
	background-color: #ffffff;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc;
	position: absolute;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
	font-size: 26px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom: 1px solid #dddddd;
	width: 100%;
}
.clearfix {
	overflow: auto;
}

#Nametag {
	width: 230px;
	float: left;
	background-color: #4aaaa5;
	margin: 0 auto 0 80px;
	font-size: 22px;
	color: white;
	height: 40px; 
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	display: inline-block;
}

.Navbar {
	float: right;
	width: 200px;
	display: inline-block;
	padding: 15px 10px 15px 10px;
}

.navbutton {
	display: inline-block;
}

a.navbuttonlink:link {
   color: #777777;
   text-decoration: none;
}
a.navbuttonlink:visited {
   color: #777777;
   text-decoration: none;
}
a.navbuttonlink:hover {
   color: #dddddd;
   text-decoration: none;
}
a.navbuttonlink:active {
   color: #777777;
   text-decoration: none;
}


.MainContent {
	background-color: #ffffff;
	margin: 20px;
	text-align: center;
	height: 400px;
	float: left;
	position: absolute;
	top: 50px;
	left: 60px;
	width: 650px;
	border: 1px solid #dddddd;
}

.indeximg {
	width: 200px;
	height: 200px;
	float: left;
}

.MainContentHeader {
	color: #4aaaa5;
	font-size: 22px;
	text-align: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid #dddddd;
	float: left;
	width: 640px;
	margin: 5px;
}

.Connection {
	background-color: #ffffff;
	margin: 20px;
	text-align: center;
	height: 100px;
	float: right;
	position: absolute;
	top: 50px;
	right: 150px;
	width: 270px;
	height: 175px;
	border: 1px solid #dddddd;
	overflow: hidden;
}

.ConnectionHeader {
	color: #4aaaa5;
	font-size: 22px;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 1px solid #dddddd;
	width: 260px;
	overflow: hidden;
	display: inline-block;
}
.ConnectionContent {
	display: inline-block;
	padding-top: 40px;
}


.Footer {
	background-color: #666666;
	border-top: 3px solid #4aaaa5;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	color: white;
}

.FooterContent {
	padding-top: 15px;
	font-size: 10px;
}

.ContactForm {
	text-align: left;
	width: 450px;
	height: 350px;
	padding: 30px;
	margin: 20px;
	padding: 0 50px 50px 50px;
	background-color: white;
	border: 1px solid #dddddd;
	position: absolute;
	left: 30px;
	top: 50px;
}

.smalltextbox {
	width: 400px;
}
.inputtextbox {
	width: 400px;
	height: 200px;
}
